/*
this css is for cms clent
*/
*{
    margin: 0;
    padding: 0;
}
img{
    border: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
ul, ol{
    list-style: none;
}

#line_10{
    width: 100%;
    height: 10px;
    clear: both;
}
#line_100{
    width: 100%;
    height: 20px;
    clear: both;
}
/*#header{
    width: 1000px;
    margin: 0 auto;
}
#header h1{
    background:#decde0;
    padding: 20px 50px;
}

#header ul{
    padding: 20px  0 20px 60px;
    margin: 0 0 10px 0;
}

#header ul li{
    display: inline;
}*/
/*show article list begin*/



#content{
    width: 1000px;
    margin: 0 auto;
    clear: both
}
#infoList{
    width: 698px;
    min-height: 528px;
    float: left;
    border:1px solid #ccc;
    position: relative;
    background:#d9dfef;
}

#infoList h3{
    height: 30px;
    line-height: 30px;
    padding: 0 0 0 10px;
    font-size: 16px;
    font-weight: normal;
    background: #fff;
}

#infoList ul{
    min-height: 390px;
    padding: 40px 20px 20px 50px;
    list-style:disc;
}
#column1,#column2, #column3{
    width: 288px;
    height: 168px;
    float: right;
    background:#d9dfef;
    border:1px solid #ccc;
}
#column1,#column2{
    margin: 0 0 10px 0;
}
#column1{

}
#column2{

}
#column3{
    margin: 0;
}
#column1 h3,#column2 h3, #column3 h3{
    height: 30px;
    line-height: 30px;
    padding: 0 0 0 10px;
    font-size: 16px;
    font-weight: normal;
    background: #fff;
}

#column1 ul,#column2 ul, #column3 ul{
    padding: 10px 10px 10px 15px;
}

#column1 ul li,#column2 ul li, #column3 ul li{
    height: 20px;
    line-height: 20px;
}

#infoList ul li{
    height: 15px;
    line-height: 18px;
    margin: 10px 0 0 0;
    border-bottom: 1px solid #ccc;
}

#infoList ul li span{
    display: inline-block;
    float: right;
    color: #000;
    font-size: 14px;
}

#infoList #pageBar{
    position: absolute;
    bottom: 20px;
}

#footer{
    clear: both;
    width: 1000px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 0 auto;
    background: #ccc;
}
/*show article list end*/


/*article begin
    some style is shared with show aritcle list
*/
#article{
    min-height: 440px;
    padding: 30px;
    background:#d9dfef;
}

#article h3{
    text-align: center;
    padding: 0 0 10px 0;
    font-size: 18px;
    background: #d9dfef;
}

#article p#author{
    text-align: center;
    font-size: 14px;
}

#article #arContent{
    padding: 10px;
}
/*article end*/
/*游客查询*/
#infoList_two{
    width: 968px;
    min-height: 528px;
    padding-left:  30px;
    border:1px solid #ccc;
    position: relative;
    background:#d9dfef;
}
#infoList_two .table{
    margin-left: 30px;
}
















