/* 
    Document   : admin.css
    Created on : 2012-12-6, 15:42:54
    Author     : zhang
    Description:
        Purpose of the stylesheet follows.
*/

*{
    margin: 0;
    padding: 0;
}

img{
    border: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
dl,ul{
    list-style: none;
}
/*create article begin*/
#createArticle-body{
    width: 100%;
    height: 100%;
    padding: 50px 20px;
}

#createArticle p{
    padding: 10px 0 0 0;
}

#createArticle p label{
    float: left;
    min-height: 20px;
    display: inline-block;
    width: 100px;
}
#createArticle #sub{
    display: inline-block;
    width: 80px;
    height: 20px;
    float: left;
    margin: 0 20px 0 100px;
}
#createArticle #title{
    display: inline-block;
    height: 30px;
    line-height: 30px;
}
#createArticle #reset{
    display: inline-block;
    width: 80px;
    height: 20px;
}
/*create aricle end*/

/*manage article begin*/
#manageArticle-body{
    width: 100%;
    height: 100%;
    padding: 0 0 10px 0;
}
#manageArticle{
    
}
#manageArticle #title{
    background:#c1b5b5;
}
#manageArticle #title h2{
    height: 25px;
    line-height: 25px;
    padding: 10px 0 0 30px;
}
#manageArticle #title ul{
    padding: 10px 0 10px 60px;
    font-size: 14px;
    list-style:circle;
}
#manageArticle #content{
    padding: 20px 0 0 60px;
}
#manageArticle #content p{
    height: 45px;
    line-height: 45px;
    margin-bottom: 20px;
}
#manageArticle #content p select{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 5px;
    min-width: 160px;
}

#manageArticle #content table th{
    text-align: left;
    width:200px;
}
#manageArticle #content #pageBar{
    padding: 20px 0 0 0;
}
/*manage article end*/

/*create group begin*/
#createGroup-body{
    width: 100%;
    height: 100%;
    padding: 0 0 10px 0;
}
#createGroup h2{
    background:#8ca9ea;
    height: 100px;
    line-height: 100px;
    padding: 0 0 0 10px;
}
#createGroup #content{
    padding: 20px 0 0 60px;
}
#createGroup #content p{
    margin-bottom: 20px;
}
#createGroup #content p select{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 5px;
    min-width: 160px;
}
#createGroup #content p{
    min-height: 35px;
    line-height: 35px;
}
#createGroup label{
    display: inline-block;
    width: 150px;
    float: left;
}
#createGroup #group_url, #createGroup #group_name{
    display: inline-block;
    height: 35px;
    line-height: 35px;
}
#createGroup #sub, #createGroup #res{
    display: inline-block;
    height: 35px;
    line-height: 35px;
    width: 80px;
    
}
#createGroup #sub{
    margin: 0 50px 0 150px;
}
/*create group end*/

/*manage group begin*/
#manageGroup-body{
    width: 100%;
    height: 100%;
    padding: 0 0 10px 0;
}
#manageGroup h2{
    background:#8ca9ea;
    height: 100px;
    line-height: 100px;
    padding: 0 0 0 10px;
}
#manageGroup table{
   padding: 40px 0 0 40px;
}
#manageGroup tr{
    height: 30px;
    line-height: 30px;
}
#manageGroup th{
    width: 200px;
}
#manageGroup th,td{
    text-align: left;
}
/*manage group end*/

